<a href="https://colab.research.google.com/github/Cecimedeiros/An-lise-Merdado-de-A-es/blob/main/notebook_acoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!pip install --upgrade pip
!pip install pandasql

Requirement already satisfied: pip in /usr/local/lib/python3.11/dist-packages (25.1.1)
Requirement already satisfied: pandasql in /usr/local/lib/python3.11/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.41)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.14.0)

In [19]:
microsoft = '/content/microsoft.csv'
oracle = '/content/oracle.csv'
ibm = '/content/IBM.csv'
tsla = '/content/tsla.csv'
walmart = '/content/walmart.csv'

In [20]:
import pandas as pd
from pandasql import sqldf

df = pd.read_csv(microsoft)
df.insert(0, 'Company', 'Microsoft')
data_microsoft = pd.DataFrame(df)

In [21]:
df1 = pd.read_csv(oracle)
df1.insert(0, 'Company', 'Oracle')
data_oracle=pd.DataFrame(df1)

In [22]:
df2 = pd.read_csv(ibm)
df2.insert(0, 'Company', 'IBM')
data_ibm= pd.DataFrame(df2)

In [23]:
df3 = pd.read_csv(tsla)
df3.insert(0, 'Company', 'TSLA')
data_tsla= pd.DataFrame(df3)

In [24]:
df4 = pd.read_csv(walmart)
df4.insert(0, 'Company', 'Walmart')
data_wal= pd.DataFrame(df4)

In [26]:
sql_query= """
SELECT * FROM data_microsoft
UNION ALL
SELECT * FROM data_oracle
UNION ALL
SELECT * FROM data_ibm
UNION ALL
SELECT * FROM data_tsla
UNION ALL
SELECT * FROM data_wal
"""

df = sqldf(sql_query)
df.to_csv('df_acoes.csv', index = False)